<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green Future Project Samuele Maida</title>
  </head>
  <body>
    <div class="container">
      <img
        class="img_background"
        src="/assets/images/different.jpg"
      />
      <div class="title">
        <div>
          <p class="score">Environmental impact: {{ environmentalImpact }}</p>
        </div>
        <h1>Where do I put this waste?</h1>
        <div>
          <p class="score">Total waste disposed of: {{ sum }}</p>
        </div>
      </div>
      <div class="subtitle">
        <p>Train with our list or add your own</p>
        <!--From Angular Material-->
        <!--Create a new object-->
        <button
          (click)="createNewWaste()"
          class="addWaste"
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a plus one icon"
        >
          <mat-icon>plus_one</mat-icon>
        </button>
        <!--Delete one object-->
        <button
          (click)="deleteWaste()"
          class="addWaste"
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a plus one icon"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <!--Show objects on the screen-->
        <button
          (click)="watchList()"
          class="addWaste"
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a plus one icon"
        >
          <mat-icon>list</mat-icon>
        </button>
      </div>
      <div class="inputPushBox"></div>
      <div class="container_main">
        <div class="button_waste">
          <!--Generate a random waste-->
          <button mat-fab class="text_button" (click)="getRandomWaste()">
            Click me
          </button>
        </div>
        <div class="waste_container" *ngIf="isWaste" style="margin: 2em">
          <div>
            <p>{{ randomWaste.name }}</p>
          </div>
        </div>
        <!--Show waste in the boxes-->
        <button mat-fab class="text_button" (click)="showBoxElements()">
          View Waste
        </button>
      </div>
      <div class="close_button" *ngIf="isWaste">
        <!--Close the waste options-->
        <button
          (click)="closeRandomWaste()"
          mat-mini-fab
          color="warn"
          aria-label="Example icon button with a filter list icon"
        >
          X
        </button>
      </div>
      <!--Buttons for insert the objects into the boxes-->
      <div class="container_buttons" *ngIf="isWaste">
        <button
          mat-raised-button
          class="button_plastic"
          (click)="throwWaste('plastic')"
        >
          Plastic
        </button>
        <button
          mat-raised-button
          class="button_organic"
          (click)="throwWaste('organic')"
        >
          Organic
        </button>
        <button
          mat-raised-button
          class="button_glass"
          (click)="throwWaste('glass')"
        >
          Glass
        </button>
        <button
          mat-raised-button
          class="button_ewaste"
          (click)="throwWaste('e-waste')"
        >
          E-waste
        </button>
        <button
          mat-raised-button
          class="button_mixed"
          (click)="throwWaste('mixed')"
        >
          Mixed
        </button>
        <button
          mat-raised-button
          class="button_metal"
          (click)="throwWaste('metal')"
        >
          Metal
        </button>
        <button
          mat-raised-button
          class="button_paper"
          (click)="throwWaste('paper')"
        >
          Paper
        </button>
      </div>
      <div class="container_box">
        <div class="box_plastic"></div>
        <div class="box_organic"></div>
        <div class="box_glass"></div>
        <div class="box_ewaste"></div>
        <div class="box_mixed"></div>
        <div class="box_metal"></div>
        <div class="box_paper"></div>
      </div>
      <div class="container_counter">
        <div class="counter_plastic">Plastic: {{ counterPlastic }}</div>
        <div class="counter_organic">Organic: {{ counterOrganic }}</div>
        <div class="counter_glass">Glass: {{ counterGlass }}</div>
        <div class="counter_ewaste">E-waste (WEEE): {{ counterEwaste }}</div>
        <div class="counter_mixed">Mixed: {{ counterMixed }}</div>
        <div class="counter_metal">Metal: {{ counterMetal }}</div>
        <div class="counter_paper">Paper: {{ counterPaper }}</div>
      </div>
    </div>
  </body>
</html>
